{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ChemLabs | Stocks</title>

</head>

<body>

    <nav class="navbar fixed-top navbar-expand-xl " style="background-color:  #76CBF4;">
        <a class="navbar-brand" href="{% url 'home' %}"><span class="logo_title">Chem</span><img id="navlogo"
                src="{% static 'img/logo.png' %}"><span class="logo_title">labs</span></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="snav-item">
                    Admin
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid d-flex align-items-center justify-content-center"
        style="height: 80vh;background-color: #fff;margin-top: 10vh;">

        <div class="row" style="width: 100vw;">
            <div class="col-2">
                <ul style="list-style: none; padding-top: 2vw;">

                    <li class="list-item p-2">
                        <a class="vnav-link"  href="{% url 'admin_viewStock' %}">
                            View Stocks</a>
                    </li>
                    <li class="list-item p-2">
                        <a class="vnav-link" href="{% url 'manageSupervisor' %}">
                            Manage Supervisors</a>
                    </li>
                    <li class="plist-item p-2">
                        <a class="vnav-link" style="color: #fff;" href="{% url 'analytics' %}">
                            Visual Analytics</a>
                    </li>
                    <li class="list-item p-2">
                        <a class="vnav-link" href="" data-toggle="modal" data-target="#changepassword">
                          Change Password</a>
                      </li>
                    <li class="list-item p-2">
                        <a class="" href="./index.html"><button type="button" class="btn1 p-2">Logout</button></a>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <!--Piecharts-->
            </div>

        </div>
    </div>

    <footer class="d-flex justify-content-center align-items-center">

        <p>&copy; Chemlabs | 2020</p>

    </footer>

    <div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form>
              <div class="modal-body">
                <div class="form-group">
                  <label for="old_pswd">Old Password</label>
                  <input type="password" class="form-control" id="old_pswd" 
                    placeholder="Enter old password">
                </div>
                <div class="form-group">
                  <label for="new_pswd">New Password</label>
                  <input type="password" class="form-control" id="new_pswd" 
                    placeholder="Enter new password">
                </div>
                <div class="form-group">
                  <label for="confirm_pswd">Confirm New Password</label>
                  <input type="password" class="form-control" id="confirm_pswd" 
                    placeholder="Confirm new password">
                </div>
              <div class="modal-footer border-top-0 d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Change</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
  


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>